<div class="app-container">
  <!-- Title at the top of the page -->
  <div class="header">
    <h1>Our music streaming web page</h1>
  </div>

  <div style="text-align: center; margin-top: 50px;">
    <button (click)="goToLogin()">Login</button>
    <button (click)="goToRegister()">Register</button>
  </div>

  <!-- Routed content will appear here -->
  <router-outlet></router-outlet>

  <!-- Footer at the bottom of the page -->
  <div class="footer">
    <p>Project made by: Carl KLINK, William KAU, Romain LEFEBVRE, Gabin LEFRANCOIS</p>
  </div>
</div>
